@{
    ViewBag.Title = "Contacto";

}
<h2>@ViewBag.Title</h2>


<address>
    Adelante de colonia Los Alamos<br />
    Junto a Centro Comercial Altara<br />
    Carretera a Armenta, SPS. Honduras<br />
    <abbr title="Phone">P:+(504)3336-3235</abbr>
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:cap@unitec.edu">CAP@unitec.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:admisiones@unitec.edu">Admisiones@unitec.edu</a>
</address>